<%- include('partials/header') %>

<div id="cats" class="d-flex">
  <% kitties.forEach(kitty => { -%>
  <div class="card shadow-sm">
    <img src="/catImage/<%=kitty.id%>" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title"><%= kitty.name %></h5>
      <p class="card-text"><%= kitty.description %></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <% }); %>
</div>
<%- include('partials/footer') %>
