<%- include('partials/header') %>

<div class="d-flex align-items-center">
  <h1>Kotki szukające domu</h1>
  <% if(isAdminCache(req)) { %>
  <a href="/admin/cats"
    ><button class="btn btn-primary ms-3">Edytuj kotki</button></a
  >
  <% } %>
</div>
<div id="cats" class="d-flex">
  <% kitties.forEach(kitty => { -%>
  <div class="card shadow-sm">
    <img src="/catImage/<%=kitty.id%>" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title"><%= kitty.name %></h5>
      <p class="card-text"><%= kitty.description %></p>
      <a href="/cat/<%=kitty.id%>" class="btn btn-primary">Zobacz</a>
    </div>
  </div>
  <% }); %>
</div>
<%- include('partials/footer') %>
